# Ignore Python virtual environments
venv/
.venv/

# Ignore compiled files
__pycache__/
*.pyc

# Ignore temporary or OS files
.DS_Store
Thumbs.db

# Ignore generated reports and images
grype-report.json
vulnerability_bar_chart.png
sbom.json
fixed-grype-report.json
sca_report.csv

# Ignore IDE settings (VS Code, PyCharm)
.vscode/
.idea/
